/* this will be the style for the md file (turned into html) */
:root {
  --gray-1: #5c6370;
  --gray-2: #abb2bf;
  --red-muted: #e06c75;
  --orange-muted: #d19a66;
  --green-muted: #98c379;
  --aqua-muted: #56b6c2;
  --purple-muted: #c678dd;
  --blue-muted: #61afef;
  --yellow-muted: #e5c07b;
}

.article h1 {
  color: var(--red-muted);
}

.article h2 {
  color: var(--yellow-muted);
}

.article h3 {
  color: var(--green-muted);
}

.article h4 {
  color: var(--blue-muted);
}

.article h5 {
  color: var(--aqua-muted);
}

.article h6 {
  color: var(--purple-muted);
}

/* Code syntax highlighting */

.article pre {
  /* background-color: var(--gray-1); */
  /* color: var(--white); */

  padding: 1.5rem;

  border-radius: 0.5rem;
  overflow: auto;
}

.article pre code {
  color: var(--white);
}

.article code {
  color: var(--blue-muted);
}

.article {
  padding-bottom: 1rem;
}

/* css for ul in markdown */
.article ul {
  list-style-type: disc;
  margin-left: 2rem;
}

.article li p {
  padding: 0;
  margin: 0;
}

.article li {
  margin: 0.2rem 0;
}

/* make the bold text a bit bigger */
.article strong {
  font-size: 1.05rem;
}

.article img {
  max-width: 100%;
  height: auto;

  border-radius: var(--rad);
}

.article blockquote {
  background-color: var(--gray-1);
  color: var(--white-muted);

  padding: 1rem;

  border-left: 0.3rem solid var(--blue-muted);
}

.article-content {
  border-bottom: 1px solid var(--gray-2);
}

/* article.css */
.tagged {
  color: var(--white);

  background-color: var(--red-muted);

  padding: 0.2rem 0.5rem;

  border-radius: 4rem;

  width: fit-content;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-icon {
  color: var(--red);

  width: 2rem;
  height: 2rem;
}

.options {
  display: flex;
  align-items: center;

  gap: 0.2rem;
}
