/* main {
  padding: 0 5% !important;
} */

label {
  margin-bottom: 0.5rem;
  color: var(--white-dim);
}

.editor {
  /* has the editor + save button below */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  margin-bottom: 1rem;
}

.group {
  /* has the editor + save button below */
  display: flex;
  /* justify-content: space-between; */
  height: 100%;

  gap: 1rem;
  margin-bottom: 1rem;

  min-height: 50vh;
  height: 75vh;
}

.html {
  padding: 1rem;

  border-radius: var(--rad);
  background-color: var(--bg-color-sc);

  overflow-y: scroll;
  overflow-x: scroll;

  /* min-width: 50%; */
  width: 100%;
}

.editor-textarea {
  padding: 1rem;
  border-radius: var(--rad);
  background-color: var(--bg-color-sc);

  color: var(--text-color);
  font-size: 1rem;

  font-family: "Fira Code", monospace, consolas;
  resize: none;

  border: none;
  outline: none;

  width: 100%;
}

.input-file {
  margin-bottom: 1rem;
}

.file-icon {
  font-size: 3rem;
}

.box {
  /* margin-bottom: 1rem; */

  /* display: flex; */
  /* justify-content: center; */
}

.file-upload {
  /* width: fit-content; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the upload box */

input[type="file"] {
  display: none;
}
